$main-color: #8B9B4C;
$background-color: #ECECEC;

@mixin rounded-bottom {
  $radius: 15px;

  border-bottom-left-radius: $radius;
  -moz-border-radius-bottom-left: $radius;
  -webkit-border-bottom-left-radius: $radius;
  
  border-bottom-right-radius: $radius;
  -moz-border-radius-bottom-right: $radius;
  -webkit-border-bottom-right-radius: $radius;
}

@mixin box-shadow {
	-webkit-box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px  5px #888;
}

@mixin box-shadow-inset {
	-webkit-box-shadow:inset 5px 5px 5px #888;
	-moz-box-shadow:inset 5px 5px  5px #888;
}

@mixin box-shadow-inset-small {
	box-shadow: inset 3px 3px 5px rgba(0,0,0,.6);
		-moz-box-shadow: inset 5px 5px 5px rgba(0,0,0,.6);
		-webkit-box-shadow: inset 3px 3px 5px rgba(0,0,0,.6);
}

a {
	color: #5a6731;
	
	img {
		border:0px;
	}
}

body {
	font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
	background-color: $background-color;
	margin:0px;
	padding:0px;
	font-size:14px;
	
}

.entry-content {
text-shadow: #FFF -1px -1px 1px;
}

#banner {
	width:960px;
	margin:auto;
	
	
	#navigation {
		float:right;
		background-color:$main-color;
	
		
		margin-top:-8px;
		@include rounded-bottom;
		@include box-shadow;
		
		ul {
			margin:10px;
			padding:0px;
			padding-top:8px;
			height:18px;
			margin-left:20px;
			margin-right:0px;
		
			li {
				float:left;
				list-style-type:none;
				margin-left:0px;
				margin-right:20px;
				
				a {
					margin-top:5px;
					color:#FFFFFF;
					text-decoration:none;
					font-size:16px;
					text-shadow:0 0 3px #333;
				}
			}
		}
	}
	
	#social {
		float:right;
		background-color:$main-color;
		margin-right:40px;
		
		margin-top:-8px;
		@include rounded-bottom;
		@include box-shadow;
		
		ul {
			margin:10px;
			margin-top:5px;
			padding:0px;
			padding-top:8px;
			height:25px;
			margin-left:15px;
			margin-right:0px;
		
			li {
				float:left;
				list-style-type:none;
				margin-left:0px;
				margin-right:10px;
				
				a {
					margin-top:5px;
					color:#FFFFFF;
					text-decoration:none;
					text-shadow:0 0 3px #333;
				}
			}
		}
	}
}

#header {
	clear:both;
	width:960px;
	margin:auto;
}

#content-container {
	width:960px;
	margin:auto;
	margin-bottom:30px;
}

hr {
	width:960px;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
}

.project-container {
	width:740px;
	padding-top:20px;
	float:left;
	
	.project {
		padding-top:40px;
		
		.thumb {
			margin-top:20px;
			width:150px;
			height:150px;
			background-color:#FFFFFF;
			float:left;
			border-radius:10px;
			position:relative;
			overflow:hidden;
			z-index:1;
			@include box-shadow-inset;
		
		
		}
		
		.details {
			margin-top:20px;
			padding:20px;
			width:520px;
			margin-left:20px;
			float:left;
			background-color:#FFFFFF;
			height:130px;
			
			border-radius:10px;
			
			@include box-shadow-inset;
			
			h2 {
				font-size:16px;	
				margin:0px;
			}
			
			p {
				font-size:14px;
				line-height:140%;
				
				a {
					color:#000000;
					font-weight:bold;
				}
			}
		}
	}
}

.project-sidebar {
	float:right;
	width:190px;
	padding-top:20px;
	padding-left:30px;
	
	h2 {
		padding-top:5px;
		margin-top:0px;	
		color:#888888;
		text-shadow: #000 -1px -1px 1px;
	}
	
 	ul {
		margin-left:0px;
		padding-left:0px;
		li {
			list-style-type:none;
			padding:0px;
			margin:0px;
			margin-bottom:5px;
			
			a {
				color:#666;
				text-decoration:none;
			}
		}
	}


}

.latest {
	padding-top:0px;
	margin-top:20px;
	float:left;
	
	h2 {
		padding-top:5px;
		margin-top:0px;	
		color:#888888;
		text-shadow: #000 -1px -1px 1px;
	}

}

.blog {
	padding-right:1%;
	width:50%;
}


.github {
	padding-left:1%;
	padding-right:1%;
	width:23%;
	border-left:1px SOLID #888888;
	border-right:1px SOLID #888888;
}

.twitter {
	width:22%;
	PADDING-left:1%;
	
}

#footer {
	
	margin-top:40px;
	width:100%;
	bottom:0px;
	height:300px;
	background-color:#333333;
	color:#CCCCCC;
	font-size:14px;
	text-shadow: #000 -1px -1px 1px;
	
	#left-column {
	float:left;
	height:270px;
	width:33%;
	}
	
	#right-column {
	float:right;
	height:270px;
	width:66%;
	}
	
	#copyright {
		clear:both;
		bottom:0px;
	}
}

.github-commits {
	font-size:12px;
	color:#333;
	
	.committer {
		font-weight:bold;
		width:100%;
		text-align:right;
		margin-bottom:10px;
	}
	
	.commit {
		margin-bottom:5px;
	}
}

.twitter-update {
	font-size:12px;
	color:#333;
	margin-bottom:10px;
	
	.update {
		
	}
	
	.date {
		width:100%;
		text-align:right;
		font-weight:bold;
	}

}

#container {
	width:66%;
	float:left;
}

#primary {
	width:25%;
	float:right;
}

.widget-area ul {
	margin:0px;
	padding:0px;
}

ul.xoxo {
	list-style-type:none;
}

.widget-area {
	margin-left:20px;
}

.widget-area ul li {
	list-style-type:none;
	padding:0px;
	margin:0px;
	margin-bottom:5px;
	
}

.widget-area ul li a {
	color:#666;
	text-decoration:none;
	
}

.widget-container ul {
	padding-top:10px;
	width:100%;
	color:#000000;


}

h1 {
padding-top:20px;
		margin-top:0px;	
		color:#888888;
		text-shadow: #000 -1px -1px 1px;
}

.widget-title {
	padding-top:20px;
	margin-bottom:0px;
		margin-top:0px;	
		color:#888888;
		text-shadow: #000 -1px -1px 1px;
}

ul li {
	list-style-type:none;
}

.widget-search {
	margin-top:20px;
	-moz-border-radius:5px;
}

.widget_search form div input {
	margin-top:20px;
	-moz-border-radius:15px;
	padding-left:10px;
}

#nav-above {
	display:none;
}






.lead-image {
	position: relative;
	width:100%;
	height:120px;
	overflow:hidden;
	float: left;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#FFFFFF;
	margin-bottom:20px;
	
}
 
    .lead-image::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow:hidden;
		border: 1px SOLID #D0D0D0;
		border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:transparent;
	
		box-shadow: inset 5px 5px 5px rgba(0,0,0,.6);
		-moz-box-shadow: inset 5px 5px 5px rgba(0,0,0,.6);
		-webkit-box-shadow: inset 5px 5px 5px rgba(0,0,0,.6);
	   } 
 
.lead-image img {
	float: left;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	}

.recent-post {
	padding-top:10px;
	clear:both;
}

.thumb-image {
	position: relative;
	width:35px;
	height:35px;
	overflow:hidden;
	float: left;
	margin-right:5px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color:#FFFFFF;
	
}
 
    .thumb-image::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow:hidden;
		border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color:transparent;
	
		box-shadow: inset 2px 2px 2px rgba(0,0,0,.6);
		-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,.6);
		-webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,.6);
	   } 
 
.thumb-image img {
	float: left;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	}

h2 a {
		text-decoration:none;
		padding-top:5px;
		margin-top:0px;	
		color:#888888;
		text-shadow: #000 -1px -1px 1px;
	}