a {
  color: #5a6731; }
  a img {
    border: 0px; }

p {
  line-height: 140%; }

body {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  background-color: #ececec;
  margin: 0px;
  padding: 0px;
  font-size: 14px; }

.entry-content {
  text-shadow: white -1px -1px 1px; }

#banner {
  width: 960px;
  margin: auto; }
  #banner #navigation {
    float: right;
    background-color: #8b9b4c;
    margin-top: -8px;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottom-left: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottom-right: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: 5px 5px  5px #888; }
    #banner #navigation ul {
      margin: 10px;
      padding: 0px;
      padding-top: 8px;
      height: 18px;
      margin-left: 20px;
      margin-right: 0px; }
      #banner #navigation ul li {
        float: left;
        list-style-type: none;
        margin-left: 0px;
        margin-right: 20px; }
        #banner #navigation ul li a {
          margin-top: 5px;
          color: #FFFFFF;
          text-decoration: none;
          font-size: 16px;
          text-shadow: 0 0 3px #333; }
  #banner #social {
    float: right;
    background-color: #8b9b4c;
    margin-right: 40px;
    margin-top: -8px;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottom-left: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottom-right: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: 5px 5px  5px #888; }
    #banner #social ul {
      margin: 10px;
      margin-top: 5px;
      padding: 0px;
      padding-top: 8px;
      height: 25px;
      margin-left: 15px;
      margin-right: 0px; }
      #banner #social ul li {
        float: left;
        list-style-type: none;
        margin-left: 0px;
        margin-right: 10px; }
        #banner #social ul li a {
          margin-top: 5px;
          color: #FFFFFF;
          text-decoration: none;
          text-shadow: 0 0 3px #333; }

#header {
  clear: both;
  width: 960px;
  margin: auto; }

#content-container {
  width: 960px;
  margin: auto;
  margin-bottom: 30px; }

hr {
  width: 960px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px; }

.project-container {
  width: 740px;
  padding-top: 20px;
  float: left; }
  .project-container .project {
    padding-top: 40px; }
    .project-container .project .thumb {
      margin-top: 20px;
      width: 150px;
      height: 150px;
      background-color: #FFFFFF;
      float: left;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      z-index: 1;
      -webkit-box-shadow: inset 5px 5px 5px #888;
      -moz-box-shadow: inset 5px 5px  5px #888; }
    .project-container .project .details {
      margin-top: 20px;
      padding: 20px;
      width: 520px;
      margin-left: 20px;
      float: left;
      background-color: #FFFFFF;
      height: 130px;
      border-radius: 10px;
      -webkit-box-shadow: inset 5px 5px 5px #888;
      -moz-box-shadow: inset 5px 5px  5px #888; }
      .project-container .project .details h2 {
        font-size: 16px;
        margin: 0px; }
      .project-container .project .details p {
        font-size: 14px;
        line-height: 140%; }
        .project-container .project .details p a {
          color: #000000;
          font-weight: bold; }

.project-sidebar {
  float: right;
  width: 190px;
  padding-top: 20px;
  padding-left: 30px; }
  .project-sidebar h2 {
    padding-top: 5px;
    margin-top: 0px;
    color: #888888;
    text-shadow: black -1px -1px 1px; }
  .project-sidebar ul {
    margin-left: 0px;
    padding-left: 0px; }
    .project-sidebar ul li {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      margin-bottom: 5px; }
      .project-sidebar ul li a {
        color: #666;
        text-decoration: none; }

.latest {
  padding-top: 0px;
  margin-top: 20px;
  float: left; }
  .latest h2 {
    padding-top: 5px;
    margin-top: 0px;
    color: #888888;
    text-shadow: black -1px -1px 1px; }

.blog {
  padding-right: 1%;
  width: 50%; }

.github {
  padding-left: 1%;
  padding-right: 1%;
  width: 23%;
  border-left: 1px SOLID #888888;
  border-right: 1px SOLID #888888; }

.twitter {
  width: 22%;
  PADDING-left: 1%; }

#footer {
  margin-top: 40px;
  width: 100%;
  bottom: 0px;
  height: 300px;
  background-color: #333333;
  color: #CCCCCC;
  font-size: 14px;
  text-shadow: black -1px -1px 1px; }
  #footer #footer-content {
    width: 920px;
    margin: auto; }
    #footer #footer-content #left-column {
      margin-top: 30px;
      float: left;
      height: 230px;
      width: 40%; }
      #footer #footer-content #left-column p {
        text-align: justify; }
    #footer #footer-content #right-column {
      float: right;
      height: 230px;
      width: 50%;
      margin-top: 30px;
      margin-left: 50px; }
      #footer #footer-content #right-column ul li {
        margin-bottom: 10px; }
        #footer #footer-content #right-column ul li a {
          color: #CCCCCC;
          font-size: 16px; }
  #footer #copyright {
    clear: both;
    bottom: 0px; }

.github-commits {
  font-size: 12px;
  color: #333; }
  .github-commits .committer {
    font-weight: bold;
    width: 100%;
    text-align: right;
    margin-bottom: 10px; }
  .github-commits .commit {
    margin-bottom: 5px; }

.twitter-update {
  font-size: 12px;
  color: #333;
  margin-bottom: 10px; }
  .twitter-update .date {
    width: 100%;
    text-align: right;
    font-weight: bold; }

#container {
  width: 66%;
  float: left; }

#primary {
  width: 25%;
  float: right; }

.widget-area ul {
  margin: 0px;
  padding: 0px; }

ul.xoxo {
  list-style-type: none; }

.widget-area {
  margin-left: 20px; }

.widget-area ul li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px; }

.widget-area ul li a {
  color: #666;
  text-decoration: none; }

.widget-container ul {
  padding-top: 10px;
  width: 100%;
  color: #000000; }

h1 {
  padding-top: 20px;
  margin-top: 0px;
  color: #888888;
  text-shadow: black -1px -1px 1px; }

.widget-title {
  padding-top: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #888888;
  text-shadow: black -1px -1px 1px; }

ul li {
  list-style-type: none; }

.widget-search {
  margin-top: 20px;
  -moz-border-radius: 5px; }

.widget_search form div input {
  margin-top: 20px;
  -moz-border-radius: 15px;
  padding-left: 10px; }

#nav-above {
  display: none; }

.lead-image {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
  float: left;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #FFFFFF;
  margin-bottom: 20px; }

.lead-image::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border: 1px SOLID #D0D0D0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: transparent;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.6); }

.lead-image img {
  float: left;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

.recent-post {
  padding-top: 10px;
  clear: both; }

.thumb-image {
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
  float: left;
  margin-right: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #FFFFFF; }

.thumb-image::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: transparent;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6); }

.thumb-image img {
  float: left;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.summary-image {
  position: relative;
  width: 140px;
  height: 140px;
  overflow: hidden;
  float: left;
  margin-right: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #FFFFFF; }

.summary-image::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: transparent;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6); }

.summary-image img {
  float: left;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

h2 a {
  text-decoration: none;
  padding-top: 5px;
  margin-top: 0px;
  color: #888888;
  text-shadow: black -1px -1px 1px; }

#reply-title {
  font-size: 20px;
  padding-top: 20px;
  text-decoration: none;
  padding-top: 5px;
  margin-top: 0px;
  color: #888888;
  text-shadow: black -1px -1px 1px; }

#comments {
  margin-top: 30px; }

#comments-title {
  font-size: 16px;
  padding-top: 20px;
  text-decoration: none;
  padding-top: 5px;
  margin-top: 0px;
  color: #888888;
  text-shadow: black -1px -1px 1px; }

.required {
  display: none; }

label {
  float: left;
  width: 100px; }

input[type=text] {
  border: 1px SOLID #D0D0D0;
  font-size: 14px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.6); }

#respond {
  margin-top: 30px; }

textarea {
  border: 1px SOLID #D0D0D0;
  font-size: 14px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.6); }

.form-allowed-tags {
  display: none; }

ol {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px; }

.post-categories {
  margin: 0px;
  padding: 0px; }
  .post-categories li {
    float: left;
    padding-left: 5px; }

.comment-author {
  font-size: 16px;
  padding-top: 20px;
  text-decoration: none;
  padding-top: 5px;
  margin-top: 0px;
  color: #888888;
  text-shadow: black -1px -1px 1px; }
  .comment-author cite {
    font-size: 16px;
    padding-top: 20px;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 0px;
    color: #888888;
    text-shadow: black -1px -1px 1px; }
    .comment-author cite a {
      font-size: 16px;
      padding-top: 20px;
      text-decoration: none;
      padding-top: 5px;
      margin-top: 0px;
      color: #888888;
      text-shadow: black -1px -1px 1px; }
