<div class="project-sidebar">
	<h2>Other Projects</h2>
	<ul>
		<li><%= link_to "Hostee", :action => "hostee" %></li>
		<li><%= link_to "Bid Again Now", :action => "bidagainnow" %></li>
		<li><%= link_to "NME Radio", :action => "nmeradio" %></li>
	</ul>
</div>
