<div class="project-container">
	<div class="lead-image">
		<img src="/images/bidagainnow.png"  />  
	</div>
	
	<h1>Bid Again Now</h1>
	<p>Bid Again Now is a web application created for my employers.  It is designed to run auctions at live charity events.  Bid Again Now allows people to view lots within an auction and then place bids via SMS text messages.  Alternativly they can use iPads which volunteers use during the event or smartphones via custom made app.</p>
	<p>An exciting project to work on it combines several different technologies Ruby on Rails for the webapp, Titanium appcelerator for the mobile applications and Adobe Air for some bespoke applications for running specialised local applications.</p>
	
</div>
