<div class="project-container">
	<div class="lead-image">
		<img src="/images/hostee-wide.png"  />  
	</div>
	
	<h1>Hostee</h1>
	<p>Hostee is a webapp currently in development designed to manage the renewal of domains and hosting.  Hostee will automatically manage many aspects of the billing cycle for domains and hosting including the notification of clients that there domains/hosting are due for renewal</p>
	<p>An exciting project to work on it combines several different technologies Ruby on Rails for the webapp, Titanium appcelerator for the mobile applications and Adobe Air for some bespoke applications for running specialised local applications.</p>
	
</div>
<%= render :partial => 'projects_sidebar' %>
