<div class="project-container">
	<div class="lead-image">
		<img src="/images/nmeradio.png"  />  
	</div>
	
	<h1>NME Radio</h1>
	<p>NME radio is a standalone player created using the Adobe Air Framework.  Its an incredibly simple app which just pulls the radio player into a frame.  Why did i do this? Becuase i wanted this to run independently of my browser so i can restart my browser without restarting the radio player.</p>
	<p>Also created as part of this is a ruby script to be used with Geektools.  I created a script which performs 2 functions.  Firstly it will return the currently playing track using mechanise to scrape the nme player page. Secondly it sends a notification to Growl when the track changes.</p>
	
</div>
